<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
</head>

<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">Data Exploratory Byte</a>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <a href="about">About This Data Set</a>
            </li>
            <li>
                <a href="quality">Data Quality</a>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>About This Data Set</h1>
        <p>Accountability</p>
    </div>
</div>

<main role="main">
    <div class="container">
        <div class="page-header">
            <h2>Where did this data come from?</h2>
        </div>

        The dataset behind the FusionTable is a <a href="https://www.kaggle.com/zynicide/wine-reviews">
        wine review dataset</a> published on Kaggle. While the orginal dataset has more fields like the
        winery which produced
        the wine, we are only interested in a subset of those fields (see the
        <a href="https://fusiontables.google.com/embedviz?viz=GVIZ&t=TABLE&q=select+col1%2C+col2%2C+col4%2C+col5%2C+col9%2C+col10%2C+col11%2C+col12%2C+col13+from+1mgXxm5FFPDs_1bAvwYBGXP1iI-n01tT1G0wTKMQ9&containerId=googft-gviz-canvas">
            FusionTable snippet</a>). The <a href="https://www.kaggle.com/zynicide">publisher</a> of the dataset
        says that the data is
        scraped from <a href="https://www.wineenthusiast.com/">WineEnthusiast</a> on November 22nd, 2017.
        There had been a few
        previous iterations of the dataset.  I downloaded the <a href="https://www.kaggle.com/zynicide/wine-reviews/downloads/winemag-data-130k-v2.csv/4">
        second release of the dataset</a> and uploaded the csv to a Google FusionTable, then I picked columns of interest
        and hided the rest of the columns. The publisher also shared the
        <a href="https://github.com/zackthoutt/wine-deep-learning/blob/master/scrape-winemag.py">source code</a>
        for the scrapper.

        <div class="page-header">
            <h2>Who has access to it?</h2>
        </div>

        <p>Since the dataset is hosted on <a href="https://www.kaggle.com/zynicide/wine-reviews">
        Kaggle</a>, anyone on the public Internet has access to it.</p>
    </div>

</main> <!-- /container -->

<hr>

<footer class="container">
         <p><a href = "mailto: weitiand@andrew.cmu.edu">weitiand</a></p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/docs.min.js"></script>
</body>
</html>
