<h2>Intro - Accountability</h2>
<hr>

<b>Where did this data come from?</b> The dataset behind the FusionTable is a
<a href="https://www.kaggle.com/zynicide/wine-reviews">
    wine review dataset</a> published on Kaggle. While the original dataset has more fields like the
winery which produced
the wine, we are only interested in a subset of those fields (see the
<a href="https://fusiontables.google.com/embedviz?viz=GVIZ&t=TABLE&q=select+col1%2C+col2%2C+col4%2C+col5%2C+col9%2C+col10%2C+col11%2C+col12%2C+col13+from+1mgXxm5FFPDs_1bAvwYBGXP1iI-n01tT1G0wTKMQ9&containerId=googft-gviz-canvas">
    FusionTable</a>). The <a href="https://www.kaggle.com/zynicide">publisher</a> of the dataset
says that the data is
scraped from <a href="https://www.wineenthusiast.com/">WineEnthusiast</a> on November 22nd, 2017.
There had been a few
previous iterations of the dataset. The publisher also shared the
<a href="https://github.com/zackthoutt/wine-deep-learning/blob/master/scrape-winemag.py">source code</a>
for the scrapper.

<p>
    I downloaded the <a
        href="https://www.kaggle.com/zynicide/wine-reviews/downloads/winemag-data-130k-v2.csv/4">
    second release of the dataset</a> and uploaded the csv to a Google FusionTable, then I picked columns of
    interest
    and hid the rest of the columns.
</p>

<p><b>Who has access to it?</b> Since the dataset is hosted on
    <a href="https://www.kaggle.com/zynicide/wine-reviews">
        Kaggle</a>, anyone on the public Internet has access to it.
</p>