{% extends "templates/layout.html" %}

{% set active_page = "index" %}

{% block jumbotron %}
    <h1>Wine Review Dataset Exploratory Data Analysis</h1>
    <p>This is the Exploratory Analysis Byte for a wine review dataset.</p>
{% endblock %}

{% block content %}
    {% include 'templates/accountability.html' %}

    <h2>A Snippet of the Wine Review Dataset</h2>
    <hr>
    <p>See the <a href="/quality">Data Quality</a> tab for the EDA on the dataset.</p>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr id="cols">
                {% for item in columns %}
                    <th>
                        {{ item }}
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody id="rows">
            {% for row in rows %}
                <tr>
                    {% for datum in row %}
                        <td>{{ datum }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}