{% extends "templates/layout.html" %}

{% set active_page = "quality" %}

{% block jumbotron %}
    <h1>Quality of This Dataset</h1>
    <p>Completeness, coherence, correctness</p>
{% endblock %}

{% block content %}
    <h2>Intro</h2>
    <hr>

    <p>
        The wine review dataset is complete in the sense that it can answer a couple of interesting questions,
        for example, how to predict wine price based on wine ratings.
        By examining the summary statistics of columns of interest, the dataset is coherent in spite of
        some reviews which have missing fields. The correctness of the dataset depends on the study population,
        for example, the dataset only contains wine with ratings greater than or equal to 80.
    </p>

    <p><a href="https://github.com/weitian-ding/05839-byte2/blob/master/notebooks/Wine%20Review%20EDA.ipynb">Here</a>
        is my source code for the data exploratory analysis.</p>

    {% include 'templates/completeness.html' %}
    {% include 'templates/coherence.html' %}
    {% include 'templates/correctness.html' %}
{% endblock %}